@charset "UTF-8";
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #2196f3;
}

.main-nav--color {
  color: #000000;
}

@media screen and (max-width: 480px) {
  .main-nav__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 167px;
  }
}

@media screen and (max-width: 768px) {
  .main-nav__logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .main-nav {
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (max-width: 480px) {
  .main-nav {
    height: 60px;
    position: relative;
  }
}

.nav-section {
  margin-left: 93px;
}

@media screen and (min-width: 481px) {
  .nav-section {
    margin-left: 53px;
  }
}

@media screen and (min-width: 769px) {
  .nav-section {
    margin-left: 93px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .site-nav {
    display: block;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 480px) {
  .site-nav__item:not(:last-child) {
    margin-right: 0;
  }
}

.site-nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #212121;
  display: block;
  padding: 32px 0;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .site-nav__link {
    font-size: 40px;
    padding-left: 40px;
    padding-top: 32px;
    padding-bottom: 0;
    text-align: start;
  }
}

.site-nav__link--active {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #2196f3;
  display: block;
  padding: 32px 0;
  position: relative;
}

@media screen and (max-width: 480px) {
  .site-nav__link--active {
    font-size: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 0;
    padding-bottom: 0;
    text-align: start;
  }
}

.site-nav__link--active::after {
  background-color: #2196f3;
  width: 100%;
  height: 2px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .site-nav__link--active::after {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .contact-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .contact-title {
    display: block;
    margin-left: 0;
    padding-top: 100px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 768px) {
  .contact-title {
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) {
  .contact-title__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .contact-title__item {
    margin: 0;
  }
  .contact-title__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 769px) {
  .contact-title__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    fill: currentColor;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-title__link:hover, .contact-title__link:focus {
    color: #2196f3;
  }
}

@media screen and (max-width: 768px) {
  .contact-title__link {
    width: 138px;
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .contact-title__link {
    font-size: 34px;
    width: 296px;
    display: block;
    text-align: start;
    color: #757575;
  }
  .contact-title__link:not(:first-child) {
    padding-top: 32px;
  }
}

.contact-title__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .contact-title__icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  .contact-title__icon {
    display: none;
  }
}

.contact-title__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .contact-title__smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  .contact-title__smartphone {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    padding-bottom: 145px;
    width: 40px;
    height: 40px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .icon-cross--size {
    width: 18px;
    height: 18px;
    color: #212121;
  }
  .icon-cross--sizehover, .icon-cross--sizefocus {
    color: #2196f3;
  }
}

@media screen and (min-width: 481px) {
  .icon-cross--size {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .button-cross-position {
    width: 40px;
    height: 40px;
    padding-left: 425px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 481px) {
  .button-cross-position {
    display: none;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .icon-cross--menu {
    width: 24px;
    height: 16px;
    color: #212121;
  }
  .icon-cross--menuhover, .icon-cross--menufocus {
    color: #2196f3;
  }
}

@media screen and (min-width: 481px) {
  .icon-cross--menu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu-container {
    position: absolute;
    width: 100%;
    height: 796px;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 481px) {
  .menu-container {
    height: 80px;
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu-container .is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 481px) {
  .menu-container .is-open {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu-toggle {
    min-width: 40px;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #212121;
  }
  .menu-toggle:hover,
  .menu-toggle :focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 481px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 481px) {
  .social-links {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .social-links__item {
    color: currentColor;
  }
  .social-links__item:not(:first-child) {
    padding-left: 10px;
  }
  .social-links__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}

@media screen and (min-width: 481px) {
  .social-links__item {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .social-links__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    color: #2196f3;
  }
}

@media screen and (min-width: 481px) {
  .social-links__link {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
  }
}

@media screen and (min-width: 481px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .nav__item:nth-child(2) {
    padding-left: 40px;
  }
}

@media screen and (min-width: 481px) {
  .nav__item:nth-child(2) {
    margin-top: 21px;
    margin-left: 44px;
  }
}

@media screen and (min-width: 769px) {
  .nav__item:nth-child(2) {
    padding-top: 32px;
    padding-left: 295px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    padding-top: 118px;
    width: 100%;
    height: 400px;
    margin: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero480px1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero480px1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 480px;
    background-size: cover;
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    padding-top: 118px;
    text-align: center;
    width: 100%;
    max-width: 768px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/hero768px1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    padding: 200px 0;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero1600px1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1600px1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .hero-section__title {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 30px;
    width: 360px;
    height: 84px;
    color: #ffffff;
  }
}

@media screen and (min-width: 481px) {
  .hero-section__title {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    color: #ffffff;
    margin-left: 204px;
    width: 360px;
    height: 84px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 769px) {
  .hero-section__title {
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
  }
}

.hero-section__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

.benefit-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .benefit-section {
    display: block;
    width: 450px;
    height: 994px;
  }
}

@media screen and (min-width: 481px) {
  .benefit-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 738px;
  }
}

@media screen and (min-width: 769px) {
  .benefit-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1200px;
    height: 251px;
    margin: 0 -135px;
  }
}

@media screen and (min-width: 481px) {
  .benefit-section__item {
    width: 354px;
  }
}

@media screen and (min-width: 769px) {
  .benefit-section__item {
    width: 270px;
    height: 251px;
  }
  .benefit-section__item:nth-child(2) {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.icon-conteiner {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .icon-conteiner {
    display: block;
    width: 450px;
    height: 120px;
    padding-right: 175px;
    padding-left: 175px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 481px) {
  .icon-conteiner {
    display: block;
    width: 354px;
    height: 120px;
    padding-right: 142px;
    padding-left: 142px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 769px) {
  .icon-conteiner {
    width: 270px;
    height: 120px;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.benefit-section__icon {
  width: 70px;
  height: 70px;
}

.benefit-section__title {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  color: #212121;
  margin-bottom: 10px;
  padding-top: 30px;
}

@media screen and (max-width: 480px) {
  .benefit-section__title {
    margin-left: 100px;
    margin-right: 100px;
    width: 270px;
    max-height: 16px;
    padding-bottom: 10px;
  }
  .benefit-section__title:not(:first-child) {
    padding-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .benefit-section__description {
    width: 450px;
  }
  .benefit-section__description:not(:first-child) {
    padding-bottom: 30px;
  }
}

.produce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 769px) {
  .produce {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .produce-title {
    display: none;
  }
}

.produce__item {
  position: relative;
}

.produce__img {
  display: block;
  width: 100%;
  height: auto;
}

.produce__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 480px) {
  .title-section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 481px) {
  .title-section {
    background-color: #f5f4fa;
    padding: 60px 0;
    width: 768px;
  }
}

@media screen and (min-width: 769px) {
  .title-section {
    width: 1600px;
    background-color: #f5f4fa;
    padding: 94px 0;
    margin: 0;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .team {
    display: block;
  }
}

@media screen and (min-width: 481px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
    margin: 0 -140px;
  }
}

.team__member {
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .team__member {
    width: 450px;
    height: 100%;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }
  .team__member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) {
  .team__member {
    width: 354px;
    height: 100%;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team__member:nth-child(1) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__member:nth-child(2) {
    margin-bottom: 30px;
  }
  .team__member:nth-child(3) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 769px) {
  .team__member {
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 270px;
    height: 100%;
  }
  .team__member:nth-child(1) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .team__member:nth-child(2) {
    margin-bottom: 0;
  }
  .team__member:nth-child(3) {
    margin-right: 0;
  }
}

.team__photo {
  width: 270px;
  height: 260px;
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 480px) {
  .team__photo {
    width: 450px;
    height: 460px;
    max-width: 100%;
  }
}

@media screen and (min-width: 481px) {
  .team__photo {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 769px) {
  .team__photo {
    width: 270px;
    height: 260px;
    max-width: 100%;
  }
}

.about-team-member {
  padding: 30px 0;
  text-align: center;
  background-color: #ffffff;
}

@media screen and (max-width: 480px) {
  .about-team-member {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: #212121;
}

.team__position {
  font-size: 16px;
  margin-top: 10px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .social-networks {
    padding-left: 122px;
    padding-right: 122px;
    padding-top: 16px;
  }
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition-property: color background-color;
  transition-property: color background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.social-networks__link:hover, .social-networks__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .client {
    width: 450px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 481px) {
  .client {
    width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .client {
    width: 1200px;
    margin: 0 -140px;
  }
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  .client__item {
    width: 210px;
    height: 92px;
    padding: 0;
    -ms-flex-preferred-size: 100%/2;
        flex-basis: 100%/2;
  }
  .client__item:nth-child(1), .client__item:nth-child(3) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client__item:nth-child(2), .client__item:nth-child(4), .client__item:nth-child(6) {
    margin-right: -30px;
  }
}

@media screen and (min-width: 481px) {
  .client__item:nth-child(1), .client__item:nth-child(2) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client__item:nth-child(3) {
    margin-bottom: 30px;
  }
  .client__item:nth-child(4), .client__item:nth-child(5) {
    margin-right: 30px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition-property: color border;
  transition-property: color border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .client__link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 481px) {
  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 769px) {
  .client__link {
    width: 170px;
    height: 92px;
  }
}

.client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

@media screen and (max-width: 480px) {
  .footer {
    width: 480px;
    height: 603px;
    padding: 0;
  }
}

@media screen and (min-width: 481px) {
  .footer {
    width: 768px;
    padding: 0;
    background: #2f303a;
  }
}

@media screen and (min-width: 769px) {
  .footer {
    width: 1600px;
    height: 252px;
    padding: 0;
    margin: 0 -140px;
    background: #2f303a;
  }
}

@media screen and (max-width: 480px) {
  .footer-design {
    display: block;
    width: 480px;
    height: 603px;
  }
}

@media screen and (min-width: 481px) {
  .footer-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 768px;
  }
}

@media screen and (min-width: 769px) {
  .footer-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1600px;
  }
}

@media screen and (min-width: 481px) {
  .footer-design-item--mobil {
    width: 738px;
  }
}

@media screen and (min-width: 769px) {
  .footer-design-item--mobil {
    width: 570px;
  }
}

.footer-design__item {
  color: currentColor;
  padding-top: 60px;
}

@media screen and (max-width: 480px) {
  .footer-design__item {
    text-align: center;
  }
  .footer-design__item:not(:last-child) {
    padding-left: 109px;
  }
}

@media screen and (min-width: 481px) {
  .footer-design__item:nth-child(2) {
    padding-left: 96px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 769px) {
  .footer-design__item:nth-child(2) {
    padding-left: 60px;
    padding-top: 72px;
    margin: 0;
  }
  .footer-design__item:nth-child(3) {
    padding-top: 72px;
    padding-bottom: 20px;
    margin: 0;
  }
}

.footer-design__item:not(:last-child) {
  margin-right: 70px;
}

@media screen and (max-width: 480px) {
  .footer-design__item:not(:last-child) {
    margin-right: 0;
  }
}

.footer-design__link {
  width: 231px;
}

.main-nav-footer--color {
  color: #ffffff;
}

.address-section {
  font-style: normal;
  margin-top: 20px;
}

.contact__footer {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__footer:hover {
  color: #ffffff;
}

.contact__footer:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 481px) {
  .contact__footer {
    width: 232px;
  }
}

.contact-footer__link {
  line-height: 1.7;
  color: #ffffff;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .footer-title {
    padding-right: 83px;
    text-align: center;
  }
}

@media screen and (min-width: 481px) {
  .footer-title {
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .footer-title {
    text-align: start;
  }
}

@media screen and (max-width: 480px) {
  .footer-design-item--mobil {
    padding-right: 23;
  }
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

@media screen and (min-width: 481px) {
  .social-footer {
    width: 206px;
  }
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer__link {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.footer-email {
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .footer-email {
    width: 450px;
  }
}

@media screen and (min-width: 481px) {
  .footer-email {
    width: 738px;
    padding-left: 166px;
  }
}

@media screen and (min-width: 481px) {
  .footer-email {
    width: 570px;
    padding-left: 0;
  }
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .footer-input {
    margin-bottom: 20px;
    width: 450px;
    padding-right: -16px;
  }
}

@media screen and (min-width: 481px) {
  .footer-input {
    padding-right: 152px;
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  .footer-input {
    width: 358px;
    margin: 0;
  }
}

.button-fotter {
  width: 200;
  background-color: #2196f3;
  color: #ffffff;
  padding-left: 29px;
  padding-top: 8px;
  padding-bottom: 15px;
  padding-right: 28px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  margin-left: 12px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .footer-design-item--mobil {
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 481px) {
  .footer-design-item--mobil {
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 125px;
  }
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
  margin-bottom: -2px;
}

.main-nav-logo--footer {
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1, 17;
}

@media screen and (max-width: 480px) {
  .main-nav-logo--footer {
    padding-top: 60px;
    padding-left: 39px;
  }
}

@media screen and (min-width: 481px) {
  .main-nav-logo--footer {
    padding-left: 100px;
  }
}

@media screen and (min-width: 769px) {
  .main-nav-logo--footer {
    padding: 0;
  }
}

@media screen and (min-width: 481px) {
  .contact {
    width: 232px;
    padding-left: 61px;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .contact {
    padding-left: 0;
    text-align: start;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;
  -webkit-transition-timing-function: 250ms;
          transition-timing-function: 250ms;
}

@media screen and (max-width: 480px) {
  .backdrop {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 481px) {
  .backdrop {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 769px) {
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    visibility: visible;
    -webkit-transition-timing-function: 250ms;
            transition-timing-function: 250ms;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 481px) {
  .modal {
    width: 450px;
    height: 609px;
    top: 50%;
    left: 70%;
  }
}

@media screen and (min-width: 769px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding-top: 8px;
    padding-right: 8px;
  }
}

.button-position {
  margin-top: 8px;
  padding-left: 498px;
}

@media screen and (max-width: 480px) {
  .button-position {
    width: 443px;
    padding-left: 435px;
  }
}

@media screen and (min-width: 481px) {
  .button-position {
    padding-left: 478px;
  }
}

@media screen and (min-width: 769px) {
  .button-position {
    margin-top: 8px;
    padding-left: 488px;
  }
}

.button-data-modal-close {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.button-data-modal-close:hover {
  fill: #2196f3;
}

.button-data-modal-close-icon {
  width: 11px;
  height: 11px;
  color: currentColor;
}

.modal-section__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 87;
  margin-bottom: 14px;
  padding-left: 41px;
  color: #212121;
}

@media screen and (max-width: 480px) {
  .modal-section__title {
    width: 360px;
    height: 60px;
    text-align: center;
    padding-left: 112px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 769px) {
  .modal-section__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1, 87;
    margin-bottom: 14px;
    padding-left: 41px;
    color: #212121;
  }
}

.modal-text {
  margin-top: 140px;
  padding-left: 41px;
}

.modal-section__item {
  width: 448px;
  height: 58px;
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-section__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-section__item:hover, .modal-section__item:focus {
  fill: #2196f3;
}

.modal-section__item:focus-within {
  fill: #2196f3;
}

.modal-section__label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  color: #757575;
  margin-bottom: 4px;
}

@media screen and (max-width: 480px) {
  .modal-section__label {
    margin-left: 40px;
  }
}

.modal-section__input {
  width: 448px;
  height: 40px;
  padding: 0;
  color: #212121;
  position: relative;
  padding-left: 42px;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-section__input:hover,
.modal-section__input:focus + .modal-section__item:hover,
.modal-section__input .modal-section__item:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

@media screen and (max-width: 480px) {
  .modal-section__input {
    width: 370px;
    margin-left: 40px;
  }
}

.icon-name {
  position: absolute;
  top: 127px;
  left: 56px;
  width: 18px;
  height: 18px;
  color: currentColor;
}

@media screen and (max-width: 480px) {
  .icon-name {
    top: 149px;
    left: 95px;
  }
}

.icon-name-size {
  width: 12px;
  height: 12px;
}

.icon-tel {
  position: absolute;
  top: 195px;
  left: 56px;
  color: currentColor;
}

@media screen and (max-width: 480px) {
  .icon-tel {
    top: 217px;
    left: 95px;
  }
}

.icon-tel-size {
  width: 18px;
  height: 18px;
}

.icon-email-size {
  width: 18px;
  height: 18px;
}

.icon-email {
  position: absolute;
  top: 260px;
  left: 56px;
  color: currentColor;
}

@media screen and (max-width: 480px) {
  .icon-email {
    top: 282px;
    left: 95px;
  }
}

.modal-section__comments {
  width: 448px;
  height: 120px;
  padding-left: 40px;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 12px;
  padding-left: 16px;
  position: relative;
}

.modal-section__comments::-webkit-input-placeholder {
  position: absolute;
}

.modal-section__comments:-ms-input-placeholder {
  position: absolute;
}

.modal-section__comments::-ms-input-placeholder {
  position: absolute;
}

.modal-section__comments::placeholder {
  position: absolute;
}

.modal-section__comments:hover, .modal-section__comments:focus {
  border: 1px solid #2196f3;
}

@media screen and (max-width: 480px) {
  .modal-section__comments {
    width: 370px;
    margin-left: 40px;
  }
}

.checkbox-section {
  padding-top: 90px;
  padding-left: 25px;
}

.checkbox-section__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  padding-right: -35px;
}

.checkbox-section__input:checked + .checkbox {
  background-color: #ffffff;
  border: 1px solid #212121;
  fill: #ffffff;
}

.checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: 35px;
  border-radius: 2px;
  fill: #ffffff;
  background-color: #2196f3;
  border: none;
  background-image: url(../images/icons.svg#email);
}

@media screen and (max-width: 480px) {
  .checkbox {
    margin-left: 60px;
  }
}

.label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  border: 1px solid #212121;
}

.checkbox-section__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  color: currentColor;
}

.text-checkboxs {
  color: #757575;
  height: 24px;
  width: 400, 62px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .text-checkboxs {
    font-size: 12px;
    line-height: 1, 17;
  }
}

.terms-contract {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .terms-contract {
    font-size: 12px;
    line-height: 1, 17;
  }
}

.button-send {
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 17;
  width: 200px;
  height: 50px;
  margin-left: 95px;
  margin-bottom: 40px;
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover {
  background-color: #188ce8;
}

@media screen and (max-width: 480px) {
  .button-send {
    margin-left: 135px;
    margin-bottom: 40px;
  }
}

.secondary-button__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .secondary-button__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 481px) {
  .secondary-button__title {
    margin-left: -45px;
  }
}

@media screen and (min-width: 769px) {
  .secondary-button__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 120px;
  }
}

.secondary-button__item {
  margin-right: 8px;
}

.secondary-button__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  .secondary-button__item:nth-child(1) {
    padding-bottom: 15px;
  }
  .secondary-button__item:nth-child(2) {
    padding-bottom: 15px;
  }
  .secondary-button__item:nth-child(3) {
    padding-bottom: 15px;
  }
}

.secondary-button {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: color background;
  transition-property: color background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover, .secondary-button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-main-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .portfolio-list {
    display: block;
    overflow: hidden;
  }
}

@media screen and (min-width: 481px) {
  .portfolio-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 738px;
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-list {
    width: 1200px;
    margin: 0 -140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin: 30px 0 0 30px;
  width: 370px;
  height: 404px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .portfolio-list__item {
    width: 450px;
    height: 404px;
    overflow: hidden;
  }
}

@media screen and (min-width: 481px) {
  .portfolio-list__item {
    max-width: 354px;
    margin: 0;
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
  .portfolio-list__item:nth-child(1), .portfolio-list__item:nth-child(3), .portfolio-list__item:nth-child(5), .portfolio-list__item:nth-child(7) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-list__item {
    max-width: 370px;
    height: 100%;
  }
  .portfolio-list__item:nth-child(3), .portfolio-list__item:nth-child(5), .portfolio-list__item:nth-child(9) {
    margin-left: 30px;
  }
}

.portfolio-list__item:hover .portfolio-list__active::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__link {
  display: block;
  overflow: hidden;
}

.portfolio-list__link:hover,
.portfolio-list__link :focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 481px) {
  .portfolio-list__link {
    width: 354px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-list__link {
    width: 370px;
  }
}

.portfolio-list__active {
  position: relative;
  overflow: hidden;
}

.portfolio-list__active::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: Roboto;
  line-height: 1.55;
  font-weight: 400;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  content: '  Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
  height: 294px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-list__img {
  display: block;
  width: 370px;
  height: 294px;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .portfolio-list__img {
    display: block;
    width: 450px;
    height: 294px;
    overflow: hidden;
  }
}

@media screen and (min-width: 481px) {
  .portfolio-list__img {
    width: 354px;
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-list__img {
    display: block;
    width: 370px;
    height: 294px;
    max-width: 100%;
  }
}

.portfolio-list__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
}

@media screen and (min-width: 481px) {
  .portfolio-list__card {
    width: 354px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-list__card {
    width: 370px;
  }
}

.portfolio-list__title {
  font-weight: 700;
  line-height: 2;
  color: #212121;
  font-size: 18px;
  overflow: hidden;
}

.portfolio-list__divide {
  font-size: 16px;
  line-height: 1.86;
  color: #757575;
  margin-top: 4px;
  overflow: hidden;
}

body {
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  font-size: 14px;
}

body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 481px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 481px) {
  .section {
    width: 768px;
    padding: 60px 0;
  }
}

@media screen and (min-width: 769px) {
  .section {
    padding: 94px 0;
    width: 1600px;
  }
}

@media screen and (max-width: 480px) {
  .title-mobil {
    padding-left: 25px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) {
  .title {
    font-size: 28px;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 36px;
  }
  .title:nth-child(2), .title:nth-child(3) {
    padding-left: -140px;
  }
}
/*# sourceMappingURL=main.css.map */