@charset "UTF-8";
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #2196f3;
}

.main-nav--color {
  color: #000000;
}

.nav-section {
  margin-left: 93px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #212121;
  display: block;
  padding: 32px 0;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--active {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #2196f3;
  display: block;
  padding: 32px 0;
  position: relative;
}

.site-nav__link--active::after {
  background-color: #2196f3;
  width: 100%;
  height: 2px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-title__item:not(:last-child) {
  margin-right: 50px;
}

.contact-title__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-title__link:hover, .contact-title__link:focus {
  color: #2196f3;
}

.contact-title__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact-title__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.hero-section {
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-section__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

.benefit-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefit-section__item {
  width: 270px;
}

.icon-conteiner {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.benefit-section__icon {
  width: 70px;
  height: 70px;
}

.benefit-section__title {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  color: #212121;
  margin-bottom: 10px;
  padding-top: 30px;
}

.produce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.produce__item {
  position: relative;
}

.produce__img {
  display: block;
  width: 100%;
  height: auto;
}

.produce__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  width: 100%;
  height: 70px;
}

.title-section {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__member {
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__photo {
  width: 270px;
  height: 260px;
  max-width: 100%;
}

.about-team-member {
  padding: 30px 0;
  text-align: center;
  background-color: #ffffff;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: #212121;
}

.team__position {
  font-size: 16px;
  margin-top: 10px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition-property: color background-color;
  transition-property: color background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.social-networks__link:hover, .social-networks__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition-property: color border;
  transition-property: color border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-design__item:not(:last-child) {
  margin-right: 70px;
}

.footer-design__link {
  width: 231px;
}

.main-nav-footer--color {
  color: #ffffff;
}

.address-section {
  font-style: normal;
  margin-top: 20px;
}

.contact__footer {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__footer:hover {
  color: #ffffff;
}

.contact__footer:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer__link {
  line-height: 1.7;
  color: #ffffff;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
  color: #ffffff;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer__link {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.footer-email {
  margin-top: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 16px;
}

.button-fotter {
  width: 200;
  background-color: #2196f3;
  color: #ffffff;
  padding-left: 29px;
  padding-top: 8px;
  padding-bottom: 15px;
  padding-right: 28px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  margin-left: 12px;
  cursor: pointer;
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
  margin-bottom: -2px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;
  -webkit-transition-timing-function: 250ms;
          transition-timing-function: 250ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 8px;
  padding-right: 8px;
}

.button-position {
  margin-top: 8px;
  padding-left: 498px;
}

.button-data-modal-close {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.button-data-modal-close:hover {
  fill: #2196f3;
}

.button-data-modal-close-icon {
  width: 11px;
  height: 11px;
  color: currentColor;
}

.modal-section__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 87;
  margin-bottom: 14px;
  padding-left: 41px;
  color: #212121;
}

.modal-text {
  margin-top: 140px;
  padding-left: 41px;
}

.modal-section__item {
  width: 448px;
  height: 58px;
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-section__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-section__item:hover, .modal-section__item:focus {
  fill: #2196f3;
}

.modal-section__item:focus-within {
  fill: #2196f3;
}

.modal-section__label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  color: #757575;
  margin-bottom: 4px;
}

.modal-section__input {
  width: 448px;
  height: 40px;
  padding: 0;
  color: #212121;
  position: relative;
  padding-left: 42px;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-section__input:hover,
.modal-section__input:focus + .modal-section__item:hover,
.modal-section__input .modal-section__item:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

.icon-name {
  position: absolute;
  top: 127px;
  left: 56px;
  width: 18px;
  height: 18px;
  color: currentColor;
}

.icon-name-size {
  width: 12px;
  height: 12px;
}

.icon-tel {
  position: absolute;
  top: 195px;
  left: 56px;
  color: currentColor;
}

.icon-tel-size {
  width: 18px;
  height: 18px;
}

.icon-email-size {
  width: 18px;
  height: 18px;
}

.icon-email {
  position: absolute;
  top: 260px;
  left: 56px;
  color: currentColor;
}

.modal-section__comments {
  width: 448px;
  height: 120px;
  padding-left: 40px;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 12px;
  padding-left: 16px;
  position: relative;
}

.modal-section__comments::-webkit-input-placeholder {
  position: absolute;
}

.modal-section__comments:-ms-input-placeholder {
  position: absolute;
}

.modal-section__comments::-ms-input-placeholder {
  position: absolute;
}

.modal-section__comments::placeholder {
  position: absolute;
}

.modal-section__comments:hover, .modal-section__comments:focus {
  border: 1px solid #2196f3;
}

.checkbox-section {
  padding-top: 90px;
  padding-left: 25px;
}

.checkbox-section__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  padding-right: -35px;
}

.checkbox-section__input:checked + .checkbox {
  background-color: #ffffff;
  border: 1px solid #212121;
  fill: #ffffff;
}

.checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: 35px;
  border-radius: 2px;
  fill: #ffffff;
  background-color: #2196f3;
  border: none;
  background-image: url(../images/icons.svg#email);
}

.label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  border: 1px solid #212121;
}

.checkbox-section__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  color: currentColor;
}

.text-checkboxs {
  color: #757575;
  height: 24px;
  width: 400, 62px;
  text-align: center;
}

.terms-contract {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  color: #2196f3;
}

.button-send {
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 17;
  width: 200px;
  height: 50px;
  margin-left: 95px;
  margin-bottom: 40px;
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover {
  background-color: #188ce8;
}

.secondary-button__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.secondary-button__item {
  margin-right: 8px;
}

.secondary-button__item:first-child {
  margin-left: 0;
}

.secondary-button {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: color background;
  transition-property: color background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover, .secondary-button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-main-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  overflow: hidden;
}

.portfolio-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin: 30px 0 0 30px;
  width: 370px;
  height: 404px;
  overflow: hidden;
}

.portfolio-list__item:hover .portfolio-list__active::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__link {
  display: block;
  overflow: hidden;
}

.portfolio-list__link:hover,
.portfolio-list__link :focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__active {
  position: relative;
  overflow: hidden;
}

.portfolio-list__active::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: Roboto;
  line-height: 1.55;
  font-weight: 400;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  content: '  Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
  height: 294px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-list__img {
  display: block;
  width: 370px;
  height: 294px;
  max-width: 100%;
}

.portfolio-list__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
}

.portfolio-list__title {
  font-weight: 700;
  line-height: 2;
  color: #212121;
  font-size: 18px;
  overflow: hidden;
}

.portfolio-list__divide {
  font-size: 16px;
  line-height: 1.86;
  color: #757575;
  margin-top: 4px;
  overflow: hidden;
}

body {
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  font-size: 14px;
}

body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.section-title {
  padding-bottom: 94px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */