$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$section-bg-color: #2f303a;
$button-bg-color: #f5f4fa;
$black-texst-color: #000000;
$portfolio-border-color: #eeeeee;
$client-solid-color: #afb1b8;
$button-send-color: #188ce8;
$border-portfolio: #ececec;
