.footer {
  background: $section-bg-color;
  padding: 60px 0;
}
.footer-design {
  display: flex;
}
.footer-design__item:not(:last-child) {
  margin-right: 70px;
}
.footer-design__link {
  width: 231px;
}
.main-nav-footer--color {
  color: $primary-white-color;
}
.address-section {
  font-style: normal;
  margin-top: 20px;
}
.contact__footer {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $primary-white-color;
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.contact-footer__link {
  line-height: 1.7;
  color: $primary-white-color;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
  color: $primary-white-color;
}
.social-footer {
  display: flex;
  padding-top: 20px;
}
.social-footer__item:not(:last-child) {
  margin-right: 10px;
}
.social-footer__link {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
  }
}
.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
  margin-right: auto;
  margin-left: auto;
}
.footer-email {
  margin-top: 20px;
}
.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $section-bg-color;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 16px;
}
.button-fotter {
  width: 200;
  background-color: $accent-color;
  color: $primary-white-color;
  padding-left: 29px;
  padding-top: 8px;
  padding-bottom: 15px;
  padding-right: 28px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  margin-left: 12px;
  cursor: pointer;
}
.send-icon {
  width: 24px;
  height: 24px;
  fill: $primary-white-color;
  margin-left: 10px;
  margin-bottom: -2px;
}
