.main-nav {
  display: flex;
  align-items: center;
}
.main-nav__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: $accent-color;
}
.main-nav--color {
  color: $black-texst-color;
}
