.nav-section {
  margin-left: 93px;
}
.site-nav {
  display: flex;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: $title-text-color;
  display: block;
  padding: 32px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    color: $accent-color;
  }
}
.site-nav__link--active {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: $accent-color;
  display: block;
  padding: 32px 0;
  position: relative;
  &::after {
    background-color: $accent-color;
    width: 100%;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
  }
}
.contact-title {
  display: flex;
  margin-left: auto;
}
.contact-title__item:not(:last-child) {
  margin-right: 50px;
}
.contact-title__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  fill: currentColor;
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    color: $accent-color;
  }
   
}
.contact-title__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.contact-title__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
