.container-main-portfolio {
  border-bottom: 1px solid $border-portfolio;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  overflow: hidden;
}
.portfolio-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 30px 0 0 30px;
  width: 370px;
  height: 404px;
  overflow: hidden;
}
.portfolio-list__item:hover .portfolio-list__active::before {
  transform: translateY(0);
}
.portfolio-list__link {
  display: block;
  overflow: hidden;
  &:hover,
  :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-list__active {
  position: relative;
  overflow: hidden;
  &::before {
    display: flex;
    font-size: 18px;
    font-family: Roboto;
    line-height: 1.55;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    position: absolute;
    content: '  Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
    height: 294px;
    background-color: $accent-color;
    color: $primary-white-color;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 24px;
    padding-right: 24px;
  }
}
.portfolio-list__img {
  display: block;
  width: 370px;
  height: 294px;
  max-width: 100%;
}
.portfolio-list__card {
  padding: 20px 24px;
  border: 1px solid $portfolio-border-color;
  border-top: none;
  overflow: hidden;
}
.portfolio-list__title {
  font-weight: 700;
  line-height: 2;
  color: $title-text-color;
  font-size: 18px;
  overflow: hidden;
}
.portfolio-list__divide {
  font-size: 16px;
  line-height: 1.86;
  color: $primary-text-color;
  margin-top: 4px;
  overflow: hidden;
}
