.secondary-button__title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.secondary-button__item {
  margin-right: 8px;
  &:first-child {
    margin-left: 0;
  }
}
.secondary-button {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: $title-text-color;
  background: $button-bg-color;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-white-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
