.client {
  display: flex;
  @media screen and( max-width:768px) {
    width: 450px;
    flex-wrap: wrap;
  }
  @media screen and(  min-width:769px) {
    width: 768px;
    flex-wrap: wrap;
  }
  @media screen and(  min-width:1200px) {
    width: 1200px;
  }
}

.client__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
  @media screen and( max-width:768px) {
    width: 210px;
    height: 92px;
    padding: 0;
    flex-basis: 100%/2;
    &:nth-child(1),
    &:nth-child(3) {
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      margin-right: -30px;
    }
  }
  @media screen and(  min-width:769px) {
    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 30px;
      margin-bottom: 30px;
    }
    &:nth-child(3) {
      margin-bottom: 30px;
    }
    &:nth-child(4),
    &:nth-child(5) {
      margin-right: 30px;
    }
  }
}
.client__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid $client-solid-color;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: $client-solid-color;
  transition-property: color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
  @media screen and( max-width:768px) {
    width: 210px;
    height: 92px;
  }
  @media screen and(  min-width:769px) {
    width: 226px;
  }
  @media screen and( min-width:1200px) {
    width: 170px;
    height: 92px;
  }
}

.client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
