.hero-section {
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: $primary-white-color;
  margin-bottom: 30px;
}
.hero-section__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: $primary-white-color;
  background: $accent-color;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}
