.produce {
  display: flex;
  justify-content: space-between;
}
.produce__item {
  position: relative;
}
.produce__img {
  display: block;
  width: 100%;
  height: auto;
}
.produce__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  width: 100%;
  height: 70px;
}
