.title-section {
  background-color: $button-bg-color;
  padding: 94px 0;
}
.team {
  display: flex;
  justify-content: space-between;
}
.team__member {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__photo {
  width: 270px;
  height: 260px;
  max-width: 100%;
}
.about-team-member {
  padding: 30px 0;
  text-align: center;
  background-color: $primary-white-color;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: $title-text-color;
}
.team__position {
  font-size: 16px;
  margin-top: 10px;
}
.social-networks {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  justify-content: space-between;
}
.social-networks__item:not(:last-child) {
  margin-right: 10px;
}
.social-networks__link {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: $client-solid-color;
  border-radius: 50%;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $primary-white-color;
  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}
.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
